body {
     background-color: #f4f4f4;
     background-image: url('../images/cabs.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
      font-family: Arial, sans-serif;
 }