@(cabs: Seq[Cabs], user: String, cities: Seq[City])
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/booking.css")">
    <title>Distance Calculator</title>
</head>
<body>
<div>@navBar()</div>
<form id="distanceForm" action="@routes.BookingController.calculateDistance" method="post">
    <input type="hidden" id="user" name="user" value="@user">
    <h2>Welcome @user </h2>
    <h4> Fill Out Your Booking Details</h4>
    <label for="source">Source City:</label>
    <select id="source" name="source">
        @for(city <- cities) {
        <option value="@city.city_id">@city.city_name</option>
        }
    </select>
    <label for="destination">Destination City:</label>
    <select id="destination" name="destination">
        @for(city <- cities) {
        <option value="@city.city_id">@city.city_name</option>
        }
    </select>
    <label for="cab">Select Cab:</label>
    <select id="cab" name="cab">
        @for(cab <- cabs) {
        <option value="@cab.cabId">@cab.cabName</option>
        }
    </select>
    <button type="submit">Booking Details</button>
</form>

<form id="previousBookingsForm" action="@routes.BookingController.previousBookings(user)" method="get">
    <input type="hidden" id="user" name="user" value="@user">
    <button type="submit">View Previous Bookings</button>
</form>

<div id="distanceResult"></div>
</body>
</html>
