@(sourceCityId: Int, destinationCityId: Int,sourceCity: String, destinationCity: String, distance: Int, selectedCab: String, user: String, fare: Double,ratings:Int,cabId:Int)

<html>
<head>
    <title>Booking Confirmation</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bookingConfirmation.css")">
</head>
<body>
<div>@navBar()</div>
<h1>Booking Confirmation</h1>

<div class="confirmation-details">
    <p><span class="detail-label">Source City:</span><span class="detail-value">@sourceCity</span></p>
    <p><span class="detail-label">Destination City:</span><span class="detail-value">@destinationCity</span></p>
    <p><span class="detail-label">Distance:</span><span class="detail-value">@distance km</span></p>
    <p><span class="detail-label">Selected Cab:</span><span class="detail-value">@selectedCab</span></p>
    <p><span class="detail-label">User:</span><span class="detail-value">@user</span></p>
    <p><span class="detail-label">Expected Fare:</span><span class="detail-value">Rs.@fare /-</span></p>
    <p><span class="detail-label">Average Rating of the cab out of 5:</span><span class="detail-value"> @ratings</span> </p>

</div>

<form action="@routes.BookingController.confirmBooking" method="POST">
    <input type="hidden" name="sourceCityId" value="@sourceCityId">
    <input type="hidden" name="destinationCityId" value="@destinationCityId">
    <input type="hidden" name="sourceCity" value="@sourceCity">
    <input type="hidden" name="destinationCity" value="@destinationCity">
    <input type="hidden" name="distance" value="@distance">
    <input type="hidden" name="selectedCab" value="@selectedCab">
    <input type="hidden" name="user" value="@user">
    <input type="hidden" name="fare" value="@fare">
    <input type="hidden" name="cabId" value="@cabId">

    <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; cursor: pointer; margin-top: 20px;">Book Now</button>
</form>
</body>
</html>
