@(combinedForm: Form[CombinedData])(implicit messages: MessagesProvider)

@import helper._

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/createDriver.css")">
    <title>Create User</title>
</head>
<body>
<div>@navBar()</div>
<div class="container">
    <h2>Create Driver and Cab</h2>
    @helper.form(action = routes.DriverController.createDriverAndCab) {
    <div class="form-group">
        <input type="hidden" name="driver_id" value="1">
    </div>

    <h3>Driver Details</h3>

    <div class="form-group">
        @helper.inputText(combinedForm("driver_name"))
    </div>
    <div class="form-group">
        @helper.inputText(combinedForm("driver_email"))
    </div>
    <div class="form-group">
        @helper.inputPassword(combinedForm("driver_password"))
    </div>

    <div class="form-group">
        @helper.inputText(combinedForm("public_key"))
    </div>

    <h3>Cab Details</h3>
    <div class="form-group">
        @helper.inputText(combinedForm("cab_name"))
    </div>
    <div class="form-group">
        @helper.inputText(combinedForm("fare"))
    </div>
    <div class="form-group">
        @helper.inputText(combinedForm("seater"))
    </div>

    <button type="submit">Create Driver and Cab</button>
    }
</div>
</body>
</html>
