@(driver:Driver,ratings:Int,bookings:Seq[Bookings],totalIncome:Double)
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Driver Profile</title> <!-- Combined both titles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/driverProfile.css")">
</head>
<body>
<div>@navBar()</div>
<h1>Driver Profile</h1>

<div class="confirmation-details">
    <p><span class="detail-label">Name:</span><span class="detail-value">@driver.driverName</span></p>
    <p><span class="detail-label">Cab :</span><span class="detail-value">@driver.cabName</span></p>
    <p><span class="detail-label">MetaMask Public Key :</span><span class="detail-value">@driver.publicKey</span></p>
    <p><span class="detail-label">Average Rating out of 5:</span><span class="detail-value">@ratings</span></p>
    <p><span class="detail-label">Total Earnings: Rs.</span><span class="detail-value">@totalIncome /-</span></p>
</div>

<h1>Previous Bookings</h1>

<table>
    <tr>
        <th>Booking ID</th>
        <th>User ID</th>
        <th>Cab</th>
        <th>Booking Date</th>
        <th>From City ID</th>
        <th>To City ID</th>
        <th>Fare</th>
    </tr>
    @for(booking <- bookings) {
    <tr>
        <td>@booking.booking_id</td>
        <td>@booking.user_id</td>
        <td>@booking.cab</td>
        <td>@booking.booking_date</td>
        <td>@booking.from_city_id</td>
        <td>@booking.to_city_id</td>
        <td>@booking.fare</td>
    </tr>
    }
</table>

</form>
</body>
</html>
