@(loginForm: Form[Login])(implicit messages: MessagesProvider)

@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/driverLogin.css")">
    <title>Login</title>
</head>
<body>
<div>@navBar()</div>
<div class="container">
    <h2>Driver Login</h2>
    @helper.form(action = routes.DriverController.login) {
    <div class="form-group">
        @helper.inputText(loginForm("Email"))
    </div>
    <div class="form-group">
        @helper.inputPassword(loginForm("Password"))
    </div>
    <button type="submit">Login</button>
    }
</div>
</body>
</html>
