@()
@import views.html.navBar
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">



  <title>Cab Book</title>

</head>
<body>
<div>@navBar()</div>
<div class="container">
  <h1>Welcome to Cab Book</h1>
  <h3>For Users</h3>
  <div class="button-container">
    <a href="@routes.UserController.createUser" class="button">Create Account</a>
    <a href="@routes.LoginController.login" class="button">Login</a>
  </div>

  <h3>For Drivers</h3>
  <div class="button-container">
    <a href="@routes.DriverController.createDriverForm" class="button">Create Account</a>
    <a href="@routes.DriverController.showLoginForm" class="button">Login</a>
  </div>
</div>
</body>
</html>
