@(bookings: Seq[Bookings])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <title>Previous Bookings</title>
</head>
<body>

<h2>Previous Bookings</h2>

<table>
    <tr>
        <th>Booking ID</th>
        <th>User ID</th>
        <th>Cab</th>
        <th>Booking Date</th>
        <th>From City ID</th>
        <th>To City ID</th>
    </tr>
    @for(booking <- bookings) {
    <tr>
        <td>@booking.booking_id</td>
        <td>@booking.user_id</td>
        <td>@booking.cab</td>
        <td>@booking.booking_date</td>
        <td>@booking.from_city_id</td>
        <td>@booking.to_city_id</td>
    </tr>
    }
</table>

</body>
</html>
