@(bookings: Seq[Bookings])
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/previousBooking.css")">
    <title>Previous Bookings</title>
</head>
<body>
<div>@navBar()</div>
<h1>Previous Bookings</h1>

<table>
    <tr>
        <th>Booking ID</th>
        <th>User ID</th>
        <th>Cab</th>
        <th>Booking Date</th>
        <th>From City ID</th>
        <th>To City ID</th>
        <th>Fare</th>
    </tr>
    @for(booking <- bookings) {
    <tr>
        <td>@booking.booking_id</td>
        <td>@booking.user_id</td>
        <td>@booking.cab</td>
        <td>@booking.booking_date</td>
        <td>@booking.from_city_id</td>
        <td>@booking.to_city_id</td>
        <td>@booking.fare</td>
    </tr>
    }
</table>

</body>
</html>
